<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appurl" value ="https://justblinds.com"/>
    <add key="Blinds" value ="/html/body/header[2]/div/ul/li[1]/a"/>
    <add key="FauxWoodBlinds" value ="/html/body/header[2]/div/ul/li[1]/div/ul/li[1]/a"/>
   
    <add key="BuildYourBlinds" value ="//*[@id='ft-build-your-blinds']"/>
    <add key="ChooseYourRoom_Kitchen" value ="//*[@id='gcc-pcp-option-choice-20193']"/>
    
    <add key="WindowName" value ="//*[@id='gcc-pcp-option-choice-43']"/>
    <add key="Mount" value ="//*[@id='gcc-pcp-option-choice-18596']"/>
    
    <add key="SlatSize_1" value ="//*[@id='gcc-pcp-option-choice-17442']"/>
  
    <add key="Color_White" value ="//*[@id='gcc-pcp-option-choice-20590']/div[2]"/>


    <add key="AddCart" value ="//*[@id='configurator-buttons']/button"/>
    <add key="MakeChanges" value ="/html/body/div[2]/main/div[2]/div[3]/div[2]/ul/li/div/div[2]/a[1]"/>
                                
    <add key="Width" value ="//*[@id='gcc-pcp-option-width-whole']"/>
    <add key="PricePerItem" value =" /html/body/div[2]/main/div[2]/div[3]/div[2]/ul/li/div/div[3]/div[2]/div[3]/div"/>







  </appSettings>
</configuration>